.Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &_logo {
    width: 150px;
  }
  &_title {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: normal;
  }
  button {
    margin-top: 10px;
    margin-bottom: 40px
  }
}