.Header {
  position: sticky;
  top: 0;
  left: 0;
}

.Header .Header_top {
  width: 100vw;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-v1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.342);
  &_btn-menu {
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    color: var(--color-black);
  }
}

.Header .Header_menu {
  padding: 20px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.342);
  background: var(--color-primary-v2);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_link {
    text-decoration: none;
    color: var(--color-black);
    white-space: nowrap;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .Header {
    display: flex;
    background: var(--color-primary-v1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.342);
  }
  .Header .Header_top {
    width: auto !important;
    padding: 10px 30px;
    box-shadow: none;
    &_btn-menu {
      display: none;
    }
  }
  .Header .Header_menu {
    padding: 0;
    display: flex !important;
    box-shadow: none;
    background: none;
    ul {
      align-items: center;
      flex-direction: row;
      gap: 20px;
    }
    &_link {
      &:hover {
        color: var(--color-secondary);
      }
    }
  }
}