.CustomerImageRepository {
  padding-bottom: 40px;
  &_customerInformation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    list-style: none;
    border-radius: 5px;
    &_title {
      margin-bottom: 10px;
      font-weight: bold;
    }
    &_buttons {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }
    button {
      white-space: nowrap;
    }
    li i {
      white-space: nowrap;
      text-align: center;
      width: 25px;
    }
  }
}

.CustomerImageRepository {
  &_listImages {
    min-height: 200px;
    text-align: center;
  }
}

.CustomerForm, .ImageForm {
  input, select {
    margin: 10px 0 15px;
    width: 100%;
    display: block;
  }
  button {
    margin-top: 15px;
    width: 100%;
  }
}

.images {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.images_item {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(221, 221, 221);
  &_img {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  &_information {
    padding: 8px;
    background: #fdef2a;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_clien, &_category {
    font-size: 12px;
  }
  &_buttons {
    display: flex;
    gap: 5px;
  }
}

@media screen and (min-width: 768px) {
  .images_item {
    max-width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .CustomerImageRepository_info {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .CustomerImageRepository_listImages {
    width: 100%;
    text-align: center;
  }
  .CustomerImageRepository {
    &_customerInformation {
      min-width: 300px;
    }
  }
}